.NFTDetailsPage {
    background: linear-gradient(233.91deg, rgba(210, 253, 253, 0.3) 9.69%, rgba(194, 177, 255, 0.3) 38.49%, rgba(109, 131, 255, 0.18) 68.83%, rgba(56, 255, 243, 0.249) 83.42%);
    // filter: blur(263.5px);
    min-height: calc(100vh - 171px);


    .contentBox {
        max-width: 1440px;
        margin: 0px auto;
        padding: 70px 20px 50px;

        .tabBox {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            .left {
                width: 40%;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    width: 100%;
                    border-radius: 33.376px;
                }
            }

            .right {
                width: 56%;

                .title {
                    font-weight: 700;
                    font-size: 24px;
                    /* identical to box height */
                    letter-spacing: 0.1em;

                    color: #000000;
                    width: 100%;
                }

                .project {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .name {
                        flex: 1;
                        display: flex;
                        justify-content: start;
                        align-items: center;

                        .logo {
                            width: 40px;
                            height: 40px;
                            border-radius: 5px;
                            margin-right: 12px;
                        }

                        .project-name {
                            font-weight: 700;
                            font-size: 20px;
                            /* identical to box height */
                            letter-spacing: 0.1em;
                            color: #7285FF;
                        }
                    }

                    .icon {
                        img {
                            width: 24px;
                            height: 24px;
                        }

                        .first {
                            margin-right: 24px;
                        }
                    }
                }

                .owner {
                    width: 100%;
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    margin-top: 20px;

                    .name {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-weight: 700;
                        font-size: 16px;
                        letter-spacing: 0.1em;
                        color: #000000;
                        margin-right: 16px;
                    }

                    .address {
                        padding: 8px 16px;
                        border: 1px solid rgba(0, 0, 0, 0.3);
                        border-radius: 20px;

                        .account {
                            font-weight: 400;
                            font-size: 14px;
                            /* identical to box height */
                            letter-spacing: 0.1em;
                            color: rgba(0, 0, 0, 0.6);
                        }

                        .copy {
                            width: 16px;
                            height: 16px;
                        }
                    }


                }

                .sale {
                    margin-top: 40px;
                    height: 50px;
                    width: 100%;
                    background: linear-gradient(90deg, #7385FF 1.21%, #9E73FF 98.99%);
                    border-radius: 25px;
                    font-family: 'PingFang SC';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 22px;
                    text-align: center;
                    letter-spacing: 0.1em;
                    color: #FFFFFF;
                }

                .buy {
                    width: 100%;
                    margin-top: 20px;
                    border: 1px solid rgba(0, 0, 0, 0.3);
                    border-radius: 18px;
                    padding: 16px 22px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .buy-left {
                        .buy-left-top {
                            font-weight: 400;
                            font-size: 16px;
                            color: rgba(0, 0, 0, 0.6);
                        }

                        .buy-left-bottom {
                            margin-top: 14px;
                            display: flex;
                            justify-content: start;
                            align-items: center;

                            .buy-left-bottom-coin {
                                width: 24px;
                                height: 24px;
                                margin-right: 16px;
                            }

                            .coin-group {
                                display: flex;
                                align-items: center;
                                font-weight: 900;
                                font-size: 20px;
                                /* identical to box height */
                                text-align: center;
                                color: #000000;

                                .coin-group-price {
                                    margin-left: 8px;
                                    font-weight: 500;
                                    font-size: 16px;
                                    /* identical to box height */
                                    text-align: center;
                                    color: rgba(0, 0, 0, .6);
                                }
                            }
                        }
                    }

                    .buy-right {
                        .buy-right-button {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            padding: 14px 30px;
                            background: linear-gradient(90deg, #7285FF 0%, #9D72FF 100%);
                            border-radius: 25px;

                            font-weight: 400;
                            font-size: 16px;
                            text-align: center;
                            letter-spacing: 0.1em;

                            color: #FFFFFF;
                        }

                        .noSale {
                            background: #AEADB2;
                        }
                    }

                    .managePrice {
                        display: flex;

                        .cancelBtn {
                            width: 130px;
                            border: 1px solid #7285FF;
                            border-radius: 25px;
                            font-family: 'PingFang SC';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 22px;
                            text-align: center;
                            letter-spacing: 0.1em;
                            color: #7285FF;
                            margin-left: 32px;
                        }
                    }


                }

                .right-nft-details {
                    margin-top: 40px;
                    height: 270px;

                    .right-nft-details-tabs {
                        display: flex;
                        justify-content: start;
                        align-items: center;

                        .right-nft-details-tab {
                            font-weight: 700;
                            font-size: 18px;
                            letter-spacing: 0.1em;
                            color: rgba(0, 0, 0, 0.7);
                            margin-right: 24px;
                            cursor: pointer;
                        }

                        .right-nft-details-activetab {
                            color: #7285FF;
                        }
                    }

                    .right-nft-details-tabcontent {
                        margin-top: 20px;
                        width: 100%;

                        .nft-details-describe-group {
                            width: 100%;

                            .nft-details-describe {
                                font-weight: 400;
                                font-size: 14px;
                                letter-spacing: 0.1em;
                                color: #000000;
                                
                            }

                            .nft-details-card {
                                border: 1px solid rgba(0, 0, 0, 0.3);
                                border-radius: 18px;
                                margin-top: 20px;
                                padding: 18px 70px;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;

                                .nft-details-card-group {
                                    text-align: center;

                                    .nft-details-card-title {
                                        width: 100%;
                                        font-weight: 400;
                                        font-size: 16px;
                                        letter-spacing: 0.1em;
                                        color: #000000;
                                    }

                                    .nft-details-card-price {
                                        width: 100%;
                                        font-weight: 900;
                                        font-size: 18px;
                                        letter-spacing: 0.1em;
                                        color: #000000;
                                        margin: 8px 0;
                                    }

                                    .nft-details-card-range-up {
                                        width: 100%;
                                        font-weight: 400;
                                        font-size: 16px;
                                        letter-spacing: 0.1em;
                                        color: #0EFC7E;
                                    }

                                    .nft-details-card-range-down {
                                        width: 100%;
                                        font-weight: 400;
                                        font-size: 16px;
                                        letter-spacing: 0.1em;
                                        color: #F62222;
                                    }
                                }

                                .nft-details-card-group-frist {
                                    margin-right: auto;
                                }

                                .nft-details-card-group-center {
                                    margin: 0 auto;
                                }

                                .nft-details-card-group-last {
                                    margin-left: auto;
                                }
                            }
                        }

                        .nft-details-attribute-group {
                            width: 100%;
                            display: flex;
                            justify-content: start;
                            align-items: center;
                            flex-flow: row wrap;

                            .nft-details-attribute-item {
                                width: calc(33% - 14px);
                                padding: 18px;

                                background: #FFFFFF;
                                box-shadow: 6px 10px 61px rgba(198, 207, 231, 0.5);
                                border-radius: 15px;
                                margin: 0 20px 20px 0;

                                .nft-details-attribute-title {
                                    font-weight: 700;
                                    font-size: 16px;
                                    letter-spacing: 0.1em;
                                    color: #000000;
                                }

                                .nft-details-attribute-content {
                                    font-size: 16px;
                                    letter-spacing: 0.1em;
                                    color: rgba(0, 0, 0, 0.6);
                                    margin-top: 10px;
                                }
                            }

                            .nft-details-attribute-item-right {
                                margin: 0 0 20px 0;
                            }
                        }

                        .nft-details-info-group {
                            .nft-details-info-item {
                                width: 100%;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                margin-top: 12px;

                                .nft-details-info-item-title {
                                    font-weight: 700;
                                    font-size: 14px;
                                    /* identical to box height */
                                    letter-spacing: 0.1em;
                                    color: rgba(0, 0, 0, 0.6);
                                }

                                .nft-details-info-item-content {
                                    font-weight: 700;
                                    font-size: 14px;
                                    /* identical to box height */
                                    letter-spacing: 0.1em;
                                    color: rgba(0, 0, 0, 1);
                                }
                            }
                        }
                    }


                }
            }
        }

        .sanlian {
            width: 100%;
            margin-top: 40px;

            .sanlian-container {
                width: 40%;
                display: flex;
                justify-content: center;
                align-items: center;

                .sanlian-content {
                    width: 60%;
                    border: 1px solid rgba(0, 0, 0, 0.3);
                    border-radius: 18px;
                    padding: 16px 40px;

                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    img {
                        width: 24px;
                        height: 24px;
                        cursor: pointer;
                    }

                    .shareBox {
                        position: relative;

                        .copyLinkBox {
                            position: absolute;
                            bottom: -160px;
                            left: 50%;
                            width: 200px;
                            transform: translateX(-50%);
                            background: #FFFFFF;
                            box-shadow: 16px 4px 62px rgba(141, 147, 163, 0.5);
                            border-radius: 16px;
                            overflow: hidden;

                            >div {
                                display: flex;
                                flex-direction: column;
                                flex: 1;
                                font-family: 'PingFang SC';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 16px;
                                line-height: 22px;
                                color: rgba(0, 0, 0, 0.6);
                                padding: 12px 0px;
                                text-align: center;
                            }

                            .title {
                                font-family: 'PingFang SC';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 16px;
                                line-height: 22px;
                                color: #FFFFFF;
                                background: #788CFE;
                            }
                        }
                    }

                    .sanlian-box {
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .sanlian-text {
                            margin-left: 8px;
                            font-weight: 400;
                            font-size: 16px;
                            color: #000000;
                            cursor: pointer;

                        }
                    }
                }
            }
        }

        .activeBox {
            .itemBigBox {
                margin-top: 80px;
                width: 100%;
                background: #FFFFFF;
                box-shadow: 22px 26px 202px rgba(198, 207, 231, 0.5);
                border-radius: 45px;
                overflow: hidden;

                .titleBox {
                    padding: 45px;
                    height: 100px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    background: #FFFFFF;
                    box-shadow: 0px 14px 40px rgba(198, 207, 231, 0.5);

                    .titleItem {
                        width: 150px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        font-family: 'PingFang SC';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 20px;
                        /* identical to box height */
                        letter-spacing: 0.1em;
                        color: #000000;
                    }

                    .type,
                    .date {
                        width: 100px;
                    }

                    .activeTip {
                        width: 67px;
                        height: 35px;
                        background: #D5DBFF;
                        border-radius: 35px;
                        font-family: 'PingFang SC';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 22px;
                        letter-spacing: 0.1em;
                        color: #7285FF;
                    }

                    .right {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        .dropDownBox {
                            .MarketSearchRow {
                                width: 100%;
                                max-width: 1410px;
                                display: flex;
                                justify-content: flex-end;
                                margin: auto;

                                .search {
                                    font-family: 'PingFang SC';
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 14px;
                                    line-height: 20px;
                                    color: #788CFF;
                                    margin-left: 30px;
                                    width: 120px;
                                    height: 36px;
                                    border: 1px solid #788CFF;
                                    box-sizing: border-box;
                                    border-radius: 18px;
                                    padding: 6px 15px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;


                                    .searchBox {
                                        font-size: 14px;

                                        overflow: hidden;
                                        white-space: nowrap;
                                        margin-right: 3px;
                                    }
                                }

                                .filter {
                                    margin-left: 30px;
                                    background: linear-gradient(269.72deg, #9C75FF 0.22%, #7485FF 99.76%);
                                    border-radius: 18px;
                                    width: 120px;
                                    height: 36px;
                                    padding: 6px 15px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;
                                    color: #FFFFFF;
                                    font-size: 14px;
                                }
                            }
                        }

                        .switch {
                            width: 40px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }

                    .subTitle {
                        font-family: 'PingFang SC';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 18px;
                        line-height: 25px;
                        letter-spacing: 0.1em;
                        color: #000000;
                    }

                }

                .NFTDetailsTitleBox {}

                .contentBox {
                    padding: 20px 45px;

                    .itemBox {
                        padding: 25px 0px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        border-bottom: 1px solid rgba(0, 0, 0, 0.1);

                        .item {
                            display: flex;
                            align-items: center;
                            flex-direction: column;
                            width: 150px;
                            font-family: 'PingFang SC';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 16px;
                            line-height: 22px;
                            color: #000000;

                            .top {
                                font-family: 'PingFang SC';
                                font-style: normal;
                                font-weight: 700;
                                font-size: 16px;
                                line-height: 22px;
                                color: #000000;
                            }

                            .bottom {
                                font-family: 'PingFang SC';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 16px;
                                line-height: 22px;
                                color: rgba(0, 0, 0, 0.6);
                            }
                        }

                        .projectName {
                            display: flex;
                            flex-direction: row;
                            align-items: center;

                            img {
                                margin-right: 8px;
                            }
                        }

                        .type,
                        .date {
                            width: 100px;
                        }
                    }

                    .goodsList {
                        width: 100%;
                        margin: 40px auto 40px;
                        display: grid;
                        grid-template-columns: repeat(auto-fill, 277px);
                        justify-content: space-between;
                        grid-row-gap: 30px;
                        grid-column-gap: 30px;
                    }
                }
            }
        }
    }

}

@media (max-width:1280px) {
    #NFTDetails {

        .right,
        .left {
            width: 100%;
        }

        .left {
            margin-top: 36px;
        }

        .sanlian-container {
            width: 100%;
        }

        .sanlian-content {
            width: 80%;
        }
    }

}

@media (max-width:1024px) {}

@media (max-width:768px) {

    #NFTDetails {
        .coin-group {
            font-size: 16px;

            .coin-group-price {
                font-size: 14px;
            }
        }

        .buy-right-button {
            font-size: 14px;
            padding: 8px 16px;
        }

        .sanlian {
            margin-top: 24px;
        }

        .nft-details-card {
            padding: 12px 24px;
        }

        .itemBigBox {
            margin-top: 30px;
        }
    }

}

@media (max-width:425px) {}

@media (max-width:375px) {}