.NFTDetailsPage {
    background: linear-gradient(233.91deg, rgba(210, 253, 253, 0.3) 9.69%, rgba(194, 177, 255, 0.3) 38.49%, rgba(109, 131, 255, 0.18) 68.83%, rgba(56, 255, 243, 0.249) 83.42%);
    // filter: blur(263.5px);
    min-height: calc(100vh - 171px);


    .contentBox {
        max-width: 1440px;
        margin: 0px auto;
        padding: 20px 20px 50px;

        .tabBox {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding-top: 12px;
            align-items: flex-start;

            .left {
                position: relative;
                width: 40%;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                #nftImg {
                    width: 100%;
                    border-radius: 33.376px;
                }

                .NFTImgContainer {
                    z-index: 9999;
                    padding: 24px;
                    max-width: 320px;
                    width: 90%;
                    position: absolute;
                    bottom: 20px;
                    display: flex;
                    justify-content: space-between;
                    border-radius: 18px;
                    background: #FFFFFF;
                    // box-shadow: 7px 7px 41px rgba(0, 0, 0, 0.25);
                    // transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
                    // transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;

                    .menuItem {
                        width: 24px;
                        height: 24px;

                        img {
                            width: 100%;
                        }
                    }

                    .copyMenu {
                        position: relative;

                        .copyLinkBox {
                            position: absolute;
                            bottom: -160px;
                            left: 50%;
                            width: 200px;
                            transform: translateX(-50%);
                            background: #FFFFFF;
                            box-shadow: 16px 4px 62px rgba(141, 147, 163, 0.5);
                            border-radius: 16px;
                            overflow: hidden;
                            z-index: 9999;

                            >div {
                                display: flex;
                                flex-direction: column;
                                flex: 1;
                                font-family: 'PingFang SC';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 16px;
                                line-height: 22px;
                                color: rgba(0, 0, 0, 0.6);
                                padding: 12px 0px;
                                text-align: center;
                            }

                            .title {
                                font-family: 'PingFang SC';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 16px;
                                line-height: 22px;
                                color: #FFFFFF;
                                background: #788CFE;
                            }
                        }
                    }

                    .likeMenu {
                        img {
                            margin-right: 7px;
                        }

                        display: flex;
                        justify-content: space-between;
                        font-family: 'PingFang SC';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 22px;
                        color: #000000;
                    }
                }

                .NFTImgContainerIn {
                    // bottom: 20px;
                    animation: riggund 0.3s 0s 1 ease-in;

                    @keyframes riggund {
                        0% {
                            bottom: 0px;
                        }

                        100% {
                            bottom: 20px;
                        }
                    }
                }

                .NFTImgContainerOut {
                    // bottom: 0px;
                    display: none;
                    animation: riggund 0.3s 0s 1 ease-out;
                    // @keyframes riggund {
                    //     0% {
                    //         bottom: 20px;
                    //     }

                    //     100% {
                    //         bottom: 0px;
                    //     }
                    // }
                }



            }

            .right {
                width: 56%;

                .title {

                    width: 100%;

                    .title-name {
                        font-weight: 700;
                        font-size: 24px;
                        /* identical to box height */
                        letter-spacing: 0.1em;
                        color: #000000;
                        word-break: break-all;
                    }
                }

                .project {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .name {
                        flex: 1;
                        display: flex;
                        justify-content: start;
                        align-items: center;

                        .logo {
                            width: 40px;
                            height: 40px;
                            border-radius: 5px;
                            margin-right: 12px;
                        }

                        .project-name {
                            font-weight: 700;
                            font-size: 20px;
                            /* identical to box height */
                            letter-spacing: 0.1em;
                            color: #7285FF;
                            word-break: break-all;
                        }
                    }

                    .icon {
                        img {
                            width: 24px;
                            height: 24px;
                        }

                        .first {
                            margin-right: 24px;
                        }
                    }
                }

                .owner {
                    width: 100%;
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    margin-top: 20px;

                    .name {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-weight: 700;
                        font-size: 16px;
                        letter-spacing: 0.1em;
                        color: #000000;
                        // margin-right: 16px;
                    }

                    .address {
                        padding: 8px 16px;
                        // border: 1px solid rgba(0, 0, 0, 0.3);
                        border-radius: 20px;

                        .account {
                            font-weight: 400;
                            font-size: 14px;
                            /* identical to box height */
                            letter-spacing: 0.1em;
                            color: rgba(0, 0, 0, 0.6);
                        }

                        .copy {
                            width: 16px;
                            height: 16px;
                        }
                    }


                }

                .sale {
                    margin-top: 40px;
                    height: 50px;
                    width: 100%;
                    background: linear-gradient(90deg, #7385FF 1.21%, #9E73FF 98.99%);
                    border-radius: 25px;
                    font-family: 'PingFang SC';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 22px;
                    text-align: center;
                    letter-spacing: 0.1em;
                    color: #FFFFFF;
                }

                // 出售
                .buyBox {
                    width: 100%;
                    margin-top: 20px;
                    border: 1px solid rgba(0, 0, 0, 0.3);
                    border-radius: 18px;
                    padding: 16px 22px;


                    .deadTime {
                        font-family: 'PingFang SC';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 22px;
                        letter-spacing: 0.1em;
                        color: #000000;

                        .line {
                            margin: 10px auto;
                            width: 100%;
                            height: 1px;
                            background: rgba(0, 0, 0, 0.1);
                            display: block;
                        }
                    }

                    #buy {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        .buy-left {


                            .buy-left-top {
                                font-weight: 400;
                                font-size: 16px;
                                color: rgba(0, 0, 0, 0.6);
                            }

                            .buy-left-bottom {
                                margin-top: 14px;
                                display: flex;
                                justify-content: start;
                                align-items: center;

                                .buy-left-bottom-coin {
                                    width: 24px;
                                    height: 24px;
                                    margin-right: 16px;
                                }

                                .coin-group {
                                    display: flex;
                                    align-items: center;
                                    font-weight: 900;
                                    font-size: 20px;
                                    /* identical to box height */
                                    text-align: center;
                                    color: #000000;

                                    .coin-group-price {
                                        margin-left: 8px;
                                        font-weight: 500;
                                        font-size: 16px;
                                        /* identical to box height */
                                        text-align: center;
                                        color: rgba(0, 0, 0, .6);
                                    }
                                }
                            }
                        }

                        .buy-right {
                            .buy-right-button {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                padding: 14px 30px;
                                background: linear-gradient(90deg, #7285FF 0%, #9D72FF 100%);
                                border-radius: 25px;

                                font-weight: 400;
                                font-size: 16px;
                                text-align: center;
                                letter-spacing: 0.1em;

                                color: #FFFFFF;
                            }

                            .noSale {
                                background: #AEADB2;
                            }
                        }

                        .managePrice {
                            display: flex;

                            .cancelBtn {
                                width: 130px;
                                border: 1px solid #7285FF;
                                border-radius: 25px;
                                font-family: 'PingFang SC';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 16px;
                                line-height: 22px;
                                text-align: center;
                                letter-spacing: 0.1em;
                                color: #7285FF;
                                margin-left: 32px;
                            }
                        }


                    }
                }

                // 其他
                .buy {
                    width: 100%;
                    margin-top: 20px;
                    border: 1px solid rgba(0, 0, 0, 0.3);
                    border-radius: 18px;
                    padding: 16px 22px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .buy-left {
                        .buy-left-top {
                            font-weight: 400;
                            font-size: 16px;
                            color: rgba(0, 0, 0, 0.6);
                        }

                        .buy-left-bottom {
                            margin-top: 14px;
                            display: flex;
                            justify-content: start;
                            align-items: center;

                            .buy-left-bottom-coin {
                                width: 24px;
                                height: 24px;
                                margin-right: 16px;
                            }

                            .coin-group {
                                display: flex;
                                align-items: center;
                                font-weight: 900;
                                font-size: 20px;
                                /* identical to box height */
                                text-align: center;
                                color: #000000;

                                .coin-group-price {
                                    margin-left: 8px;
                                    font-weight: 500;
                                    font-size: 16px;
                                    /* identical to box height */
                                    text-align: center;
                                    color: rgba(0, 0, 0, .6);
                                }
                            }
                        }
                    }

                    .buy-right {
                        .buy-right-button {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            padding: 14px 30px;
                            background: linear-gradient(90deg, #7285FF 0%, #9D72FF 100%);
                            border-radius: 25px;

                            font-weight: 400;
                            font-size: 16px;
                            text-align: center;
                            letter-spacing: 0.1em;

                            color: #FFFFFF;
                        }

                        .noSale {
                            background: #AEADB2;
                        }
                    }

                    .managePrice {
                        display: flex;

                        .cancelBtn {
                            width: 130px;
                            border: 1px solid #7285FF;
                            border-radius: 25px;
                            font-family: 'PingFang SC';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 22px;
                            text-align: center;
                            letter-spacing: 0.1em;
                            color: #7285FF;
                            margin-left: 32px;
                        }
                    }


                }

                .right-nft-details {
                    margin-top: 40px;

                    .right-nft-details-tabs {
                        display: flex;
                        justify-content: start;
                        align-items: center;
                        overflow: auto;
                        height: 30px;

                        .right-nft-details-tab {
                            font-weight: 700;
                            font-size: 18px;
                            letter-spacing: 0.1em;
                            color: rgba(0, 0, 0, 0.7);
                            margin-right: 24px;
                            cursor: pointer;
                        }

                        .right-nft-details-activetab {
                            color: #7285FF;
                        }
                    }

                    .right-nft-details-tabcontent {
                        margin-top: 20px;
                        width: 100%;

                        .nft-details-describe-group {
                            width: 100%;

                            .nft-details-describe {
                                font-weight: 400;
                                font-size: 14px;
                                letter-spacing: 0.1em;
                                color: #000000;

                            }

                            .nft-details-card {
                                border: 1px solid rgba(0, 0, 0, 0.3);
                                border-radius: 18px;
                                margin-top: 20px;
                                padding: 18px 70px;
                                display: flex;
                                justify-content: space-between;
                                // align-items: center;

                                .nft-details-card-group {
                                    text-align: center;

                                    .nft-details-card-title {
                                        width: 100%;
                                        font-weight: 400;
                                        font-size: 16px;
                                        letter-spacing: 0.1em;
                                        color: #000000;
                                    }

                                    .nft-details-card-price {
                                        width: 100%;
                                        font-weight: 900;
                                        font-size: 18px;
                                        letter-spacing: 0.1em;
                                        color: #000000;
                                        margin: 8px 0;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;

                                        .coinName {
                                            margin-left: 5px;
                                            font-weight: 900;
                                            font-size: 18px;
                                            letter-spacing: 0.1em;
                                            color: #000000;
                                        }
                                    }

                                    .nft-details-card-range-up {
                                        width: 100%;
                                        font-weight: 400;
                                        font-size: 16px;
                                        letter-spacing: 0.1em;
                                        color: #0EFC7E;
                                    }

                                    .nft-details-card-range-down {
                                        width: 100%;
                                        font-weight: 400;
                                        font-size: 16px;
                                        letter-spacing: 0.1em;
                                        color: #F62222;
                                    }
                                }

                                .nft-details-card-group-frist {
                                    margin-right: auto;
                                }

                                .nft-details-card-group-center {
                                    margin: 0 auto;
                                }

                                .nft-details-card-group-last {
                                    margin-left: auto;
                                }
                            }
                        }

                        .nft-details-attribute-group {
                            width: 100%;
                            display: flex;
                            justify-content: start;
                            align-items: center;
                            flex-flow: row wrap;

                            .nft-details-attribute-item {
                                width: calc(33% - 14px);
                                padding: 18px;

                                background: #FFFFFF;
                                box-shadow: 6px 10px 61px rgba(198, 207, 231, 0.5);
                                border-radius: 15px;
                                margin: 0 20px 20px 0;


                                .nft-details-attribute-title {
                                    width: 100%;
                                    font-weight: 700;
                                    font-size: 16px;
                                    letter-spacing: 0.1em;
                                    color: #000000;
                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis;

                                }

                                .nft-details-attribute-content {
                                    font-size: 16px;
                                    letter-spacing: 0.1em;
                                    color: rgba(0, 0, 0, 0.6);
                                    margin-top: 10px;
                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis;

                                }
                            }

                            .nft-details-attribute-item-right {
                                margin: 0 0 20px 0;
                            }

                            .mobileAddrContent {
                                max-height: 335px;
                                overflow: auto;
                                width: 100%;

                                .mobileAddr {
                                    padding: 13px 0px;
                                    width: 100%;
                                    border: 1px solid rgba(0, 0, 0, 0.3);
                                    filter: drop-shadow(6px 10px 61px rgba(198, 207, 231, 0.5));
                                    border-radius: 10px;
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: space-evenly;
                                    align-items: center;
                                    margin-bottom: 10px;

                                    .topAddr {
                                        font-family: 'PingFang SC';
                                        font-style: normal;
                                        font-weight: 700;
                                        font-size: 14px;
                                        line-height: 20px;
                                        /* identical to box height */
                                        letter-spacing: 0.1em;
                                        color: #000000;
                                    }

                                    .bottomAddr {
                                        margin-top: 10px;
                                        font-family: 'PingFang SC';
                                        font-style: normal;
                                        font-weight: 400;
                                        font-size: 12px;
                                        line-height: 17px;
                                        /* identical to box height */
                                        letter-spacing: 0.1em;
                                        color: rgba(0, 0, 0, 0.6);
                                    }
                                }
                            }

                        }

                        .nft-details-info-group {
                            .nft-details-info-item {
                                width: 100%;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                margin-top: 12px;

                                .nft-details-info-item-title {
                                    font-weight: 700;
                                    font-size: 14px;
                                    /* identical to box height */
                                    letter-spacing: 0.1em;
                                    color: rgba(0, 0, 0, 0.6);
                                }



                                .nft-details-info-item-content {
                                    font-weight: 700;
                                    font-size: 14px;
                                    /* identical to box height */
                                    letter-spacing: 0.1em;
                                    color: rgba(0, 0, 0, 1);
                                }

                                .activeItem {
                                    color: #7285FF;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    font-family: 'PingFang SC';
                                    font-style: normal;
                                    font-weight: 700;
                                    font-size: 14px;
                                    line-height: 20px;
                                    letter-spacing: 0.1em;
                                    color: #7285FF;

                                    .copy {
                                        width: 18px;
                                        height: 18px;
                                        margin-left: 5px;
                                    }
                                }
                            }
                        }
                    }


                }
            }
        }

        .sanlian {
            width: 100%;
            margin-top: 40px;

            .sanlian-container {
                width: 40%;
                display: flex;
                justify-content: center;
                align-items: center;

                .sanlian-content {
                    width: 60%;
                    border: 1px solid rgba(0, 0, 0, 0.3);
                    border-radius: 18px;
                    padding: 16px 40px;

                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    img {
                        width: 24px;
                        height: 24px;
                        cursor: pointer;
                    }

                    .shareBox {
                        position: relative;

                        .copyLinkBox {
                            position: absolute;
                            bottom: -160px;
                            left: 50%;
                            width: 200px;
                            transform: translateX(-50%);
                            background: #FFFFFF;
                            box-shadow: 16px 4px 62px rgba(141, 147, 163, 0.5);
                            border-radius: 16px;
                            overflow: hidden;
                            z-index: 9999;

                            >div {
                                display: flex;
                                flex-direction: column;
                                flex: 1;
                                font-family: 'PingFang SC';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 16px;
                                line-height: 22px;
                                color: rgba(0, 0, 0, 0.6);
                                padding: 12px 0px;
                                text-align: center;
                            }

                            .title {
                                font-family: 'PingFang SC';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 16px;
                                line-height: 22px;
                                color: #FFFFFF;
                                background: #788CFE;
                            }
                        }
                    }

                    .sanlian-box {
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .sanlian-text {
                            margin-left: 8px;
                            font-weight: 400;
                            font-size: 16px;
                            color: #000000;
                            cursor: pointer;

                        }
                    }
                }
            }
        }


        // .activeBox {
        //     .itemBigBox {
        //         margin-top: 80px;
        //         width: 100%;
        //         background: #FFFFFF;
        //         box-shadow: 22px 26px 202px rgba(198, 207, 231, 0.5);
        //         border-radius: 45px;
        //         overflow: hidden;

        //         .titleBox {
        //             padding: 45px;
        //             display: flex;
        //             align-items: center;
        //             justify-content: space-between;
        //             background: #FFFFFF;
        //             box-shadow: 0px 14px 40px rgba(198, 207, 231, 0.5);

        //             .titleItem {
        //                 width: 150px;
        //                 display: flex;
        //                 flex-direction: column;
        //                 align-items: center;
        //                 font-family: 'PingFang SC';
        //                 font-style: normal;
        //                 font-weight: 400;
        //                 font-size: 14px;
        //                 line-height: 20px;
        //                 /* identical to box height */
        //                 letter-spacing: 0.1em;
        //                 color: #000000;
        //             }

        //             .type,
        //             .date {
        //                 width: 100px;
        //             }

        //             .activeTip {
        //                 width: 67px;
        //                 height: 35px;
        //                 background: #D5DBFF;
        //                 border-radius: 35px;
        //                 font-family: 'PingFang SC';
        //                 font-style: normal;
        //                 font-weight: 700;
        //                 font-size: 16px;
        //                 line-height: 22px;
        //                 letter-spacing: 0.1em;
        //                 color: #7285FF;
        //             }

        // .right {
        //     display: flex;
        //     justify-content: space-between;
        //     align-items: center;

        //     .dropDownBox {
        //         .MarketSearchRow {
        //             width: 100%;
        //             max-width: 1410px;
        //             display: flex;
        //             justify-content: flex-end;
        //             margin: auto;

        //             .search {
        //                 font-family: 'PingFang SC';
        //                 font-style: normal;
        //                 font-weight: 400;
        //                 font-size: 14px;
        //                 line-height: 20px;
        //                 color: #788CFF;
        //                 margin-left: 30px;
        //                 width: 120px;
        //                 height: 36px;
        //                 border: 1px solid #788CFF;
        //                 box-sizing: border-box;
        //                 border-radius: 18px;
        //                 padding: 6px 15px;
        //                 display: flex;
        //                 align-items: center;
        //                 justify-content: space-between;


        //                 .searchBox {
        //                     font-size: 14px;

        //                     overflow: hidden;
        //                     white-space: nowrap;
        //                     margin-right: 3px;
        //                 }
        //             }

        //             .filter {
        //                 margin-left: 30px;
        //                 background: linear-gradient(269.72deg, #9C75FF 0.22%, #7485FF 99.76%);
        //                 border-radius: 18px;
        //                 width: 120px;
        //                 height: 36px;
        //                 padding: 6px 15px;
        //                 display: flex;
        //                 align-items: center;
        //                 justify-content: space-between;
        //                 color: #FFFFFF;
        //                 font-size: 14px;
        //             }
        //         }
        //     }

        //     .switch {
        //         width: 40px;
        //         display: flex;
        //         justify-content: center;
        //         align-items: center;
        //     }
        // }

        //             .subTitle {
        //                 font-family: 'PingFang SC';
        //                 font-style: normal;
        //                 font-weight: 700;
        //                 font-size: 18px;
        //                 line-height: 25px;
        //                 letter-spacing: 0.1em;
        //                 color: #000000;
        //             }

        //         }

        //         .NFTDetailsTitleBox {}

        //         .contentBox1 {
        //             padding: 20px 45px;

        //             .itemBox {
        //                 padding: 25px 0px;
        //                 display: flex;
        //                 align-items: center;
        //                 justify-content: space-between;
        //                 border-bottom: 1px solid rgba(0, 0, 0, 0.1);

        //                 .item {
        //                     display: flex;
        //                     align-items: center;
        //                     flex-direction: column;
        //                     width: 150px;
        //                     font-family: 'PingFang SC';
        //                     font-style: normal;
        //                     font-weight: 700;
        //                     font-size: 16px;
        //                     line-height: 22px;
        //                     color: #000000;

        //                     .top {
        //                         font-family: 'PingFang SC';
        //                         font-style: normal;
        //                         font-weight: 700;
        //                         font-size: 16px;
        //                         line-height: 22px;
        //                         color: #000000;
        //                     }

        //                     .bottom {
        //                         font-family: 'PingFang SC';
        //                         font-style: normal;
        //                         font-weight: 400;
        //                         font-size: 16px;
        //                         line-height: 22px;
        //                         color: rgba(0, 0, 0, 0.6);
        //                     }
        //                 }

        //                 .projectName {
        //                     display: flex;
        //                     flex-direction: row;
        //                     align-items: center;

        //                     img {
        //                         margin-right: 8px;
        //                     }
        //                 }

        //                 .type,
        //                 .date {
        //                     width: 100px;
        //                 }
        //             }

        //             .goodsList {
        //                 width: 100%;
        //                 margin: 40px auto 40px;
        //                 display: flex;
        //                 justify-content: start;

        //                 .goods-item {
        //                     width: 25%;
        //                     padding: 24px;
        //                     // background: #FFFFFF;
        //                     // box-shadow: 11.5523px 24px 66px rgba(198, 207, 231, 0.4);
        //                 }
        //             }
        //         }
        //     }
        // }


        // .itemBigBox {
        //     margin-top: 25px;
        //     width: 100%;
        //     overflow: hidden;
        //     background: #FFFFFF;
        //     box-shadow: 4px 11px 53px rgba(198, 207, 231, 0.6);
        //     border-radius: 17px;
        //     max-height: 590px;
        //     overflow-y: auto;


        //     & .ant-space-vertical {
        //         width: 100%;
        //     }

        //     .titleBox {
        //         padding: 45px;
        //         height: 100px;
        //         display: flex;
        //         align-items: center;
        //         justify-content: space-between;
        //         background: #FFFFFF;
        //         box-shadow: 0px 14px 40px rgba(198, 207, 231, 0.5);

        //         .titleItem {
        //             width: 150px;
        //             display: flex;
        //             flex-direction: column;
        //             align-items: center;
        //             font-family: 'PingFang SC';
        //             font-style: normal;
        //             font-weight: 400;
        //             font-size: 14px;
        //             line-height: 20px;
        //             /* identical to box height */
        //             letter-spacing: 0.1em;
        //             color: #000000;
        //         }

        //         .type,
        //         .date {
        //             width: 100px;
        //         }
        //     }

        //     .contentBox1 {
        //         padding: 16px;
        //         width: 100%;

        //         .itemBox {
        //             align-items: center;
        //             justify-content: space-between;
        //             border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        //             text-align: left;
        //             width: 100%;

        //             .item {
        //                 align-items: center;
        //                 flex-direction: column;
        //                 // width: 150px;
        //                 font-family: 'PingFang SC';
        //                 font-style: normal;
        //                 font-weight: 700;
        //                 font-size: 16px;
        //                 line-height: 22px;
        //                 color: #000000;
        //                 display: block;
        //                 // flex: 1;
        //                 display: flex;
        //                 justify-content: center;

        //                 .leftBox {
        //                     img {
        //                         width: 36px;
        //                         height: 36px;
        //                         border-radius: 6px;
        //                         margin-right: 8px;
        //                     }
        //                 }

        //                 .top {
        //                     font-family: 'PingFang SC';
        //                     font-style: normal;
        //                     font-weight: 700;
        //                     font-size: 16px;
        //                     line-height: 22px;
        //                     color: #000000;
        //                 }

        //                 .bottom {
        //                     font-family: 'PingFang SC';
        //                     font-style: normal;
        //                     font-weight: 400;
        //                     font-size: 14px;
        //                     line-height: 22px;
        //                     color: rgba(0, 0, 0, 0.6);
        //                     text-align: left;
        //                 }

        //                 .right {
        //                     .bottom {
        //                         color: rgba(0, 0, 0, 0.8);
        //                     }
        //                 }
        //             }

        //             .projectName {
        //                 display: flex;
        //                 flex-direction: row;
        //                 align-items: center;
        //                 // flex: 3;

        //                 img {
        //                     margin-right: 8px;
        //                 }
        //             }

        //             .project-price {
        //                 flex: 2;
        //             }

        //             .drap-icon {
        //                 width: 24px;
        //                 display: flex;
        //                 justify-content: center;
        //                 align-items: center;
        //             }

        //             .type,
        //             .date {
        //                 width: 100px;
        //                 text-align: center;
        //             }
        //         }

        //         .group {
        //             margin-top: 20px;
        //             width: 100%;
        //             display: flex;
        //             justify-content: space-between;
        //             align-items: center;

        //             .text {
        //                 font-weight: 700;
        //                 font-size: 12px;
        //                 text-align: center;
        //                 letter-spacing: 0.1em;
        //                 color: #000000;
        //             }

        //             .type {
        //                 font-weight: 400;
        //                 font-size: 12px;
        //                 letter-spacing: 0.1em;
        //                 color: rgba(0, 0, 0, 0.6);
        //                 margin-top: 8px;

        //             }

        //             .type-date {
        //                 font-weight: 400;
        //             }
        //         }

        //     }
        // }

        .likeProjectBox {
            .titleBox {
                margin: 60px 0px 0px;

                .subTitle {
                    font-family: 'PingFang SC';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 39px;
                    letter-spacing: 0.1em;
                    color: #000000;
                }
            }

            .contentBoxM {
                .goodsList {
                    width: 100%;
                    max-width: 1440px;
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    flex-wrap: wrap;
                    margin: 0px auto 40px;

                    .usernft {
                        width: 16.65%;
                        padding: 10px;
                    }
                }

                .LoadMore {
                    width: 120px;
                    height: 36px;
                    color: #788CFF;
                    border: 1px solid #788CFF;
                    box-sizing: border-box;
                    border-radius: 18px;
                    margin: 24px auto;
                }
            }
        }
    }

}

#NFTDetails {
    .m-hidden {
        display: flex;
    }

    .l-hidden {
        display: none;
    }
}

@media (max-width:1440px) {

    .NFTDetailsPage .contentBox .likeProjectBox .contentBoxM .goodsList .usernft {
        width: 25%;
        padding: 16px;
    }

    .NFTDetailsPage .contentBox {
        padding: 0 4%;
    }

}

@media (min-width:768px) and (max-width:1440px) {
    .NFTDetailsPage .contentBox .tabBox .right .buy {
        display: block;

        .buy-right {
            margin-top: 14px;
        }
    }

    .NFTDetailsPage .contentBox .tabBox .right .buy .managePrice {
        margin-top: 14px;
    }

    .NFTDetailsPage .contentBox .tabBox .right .buy .buy-right .buy-right-button {
        padding: 8px 30px;
    }

    .NFTDetailsPage .contentBox .sanlian .sanlian-container .sanlian-content {
        width: 100%;
    }

    .NFTDetailsPage .contentBox .tabBox .right .right-nft-details .right-nft-details-tabcontent .nft-details-describe-group .nft-details-card {
        padding: 18px 20px;
    }
}

@media (max-width:1024px) {
    .NFTDetailsPage .contentBox .tabBox .right .right-nft-details .right-nft-details-tabcontent .nft-details-describe-group .nft-details-card .nft-details-card-group .nft-details-card-price {
        display: block;

        .U {
            margin-top: 8px;
        }
    }

    .NFTDetailsPage .contentBox .tabBox .right .buyBox #buy {
        display: block;

        .buy-right {
            margin-top: 14px;
        }
    }
}

@media (max-width:768px) {
    .NFTDetailsPage .contentBox .tabBox {
        padding-top: 0px;
    }

    .NFTDetailsPage .contentBox .likeProjectBox .contentBoxM .goodsList .usernft {
        width: 33.3%;
        padding: 8px;
    }



    #NFTDetails {
        min-height: calc(100vh - 147px);
        overflow: auto;

        .contentBox {
            padding: 24px 16px;
        }

        .contentBox .itemBigBox .contentBox1 .group {
            margin-top: 8px;
        }

        .ant-collapse-content-box {
            padding: 0 16px 8px;
        }

        // .activeBox {
        //     padding: 16px 0;
        // }

        .right-nft-details {
            margin-top: 16px;
        }

        .managePrice {
            display: block;
            margin: 0 0 0 8px;
        }

        .itemBox>.item.type {
            align-items: start;
        }

        .cancelBtn {
            margin: 8px 0 0;
            padding: 8px 16px;
            font-size: 14px;
        }

        .nft-details-attribute-item {
            padding: 8px;

            .nft-details-attribute-title,
            .nft-details-attribute-content {
                font-size: 12px;
            }

            .nft-details-attribute-content {
                margin-top: 4px;
            }
        }

        .right-nft-details-tabcontent {
            margin-top: 12px;
        }

        >.itemBigBox {
            margin-top: 12px;
        }

        .itemBigBox {
            .contentBox1 {
                padding: 20px 0 24px;
            }
        }


        .m-hidden {
            display: none;
        }

        .projectName {
            .right {
                flex: 2;
            }

            .bottom {
                text-align: left;
            }
        }

        .buy-left-bottom {
            margin-top: 8px;

            img {
                margin-right: 6px;
            }
        }

        .separate {
            width: 100%;
            height: 1px;
            background: rgba(0, 0, 0, 0.1);
        }

        .l-hidden {
            display: flex;
        }

        .coin-group {
            font-size: 12px;

            .coin-group-price {
                font-size: 12px;
            }
        }

        .leftBox {
            flex: 1;

            img {
                width: 36px;
                height: 36px;
            }
        }

        .ant-collapse,
        .ant-collapse-item {
            background-color: transparent;
        }

        .itemBox,
        .ant-collapse-content,
        .ant-collapse,
        .ant-collapse-item {
            border: 0 none;
        }

        .owner {
            margin-top: 8px;
        }

        .name {
            .name {
                margin-right: 0;
            }
        }

        .sale {
            margin-top: 16px;
        }

        .icon {
            img {
                width: 24px;
                height: 24px;
            }

            .first {
                margin-right: 12px;
            }
        }

        .title {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .titleBox {
            padding: 8px 16px;
            height: 40px;
        }

        .itemBigBox {
            border-radius: 16px;
        }

        .sanlian-container {
            width: 100%;

            .sanlian-content {
                width: 64%;
                padding: 8px 24px;

                img {
                    width: 20px;
                    height: 20px;
                }

                .sanlian-text {
                    margin-left: 4px;
                }
            }
        }

        .goodsList {
            width: 100%;
            margin: 0;
            display: flex;
            justify-content: start;
            flex-wrap: wrap;

            .goods-item {
                width: 50%;
                padding: 0 8px 8px;
                // background: #FFFFFF;
                // box-shadow: 5px 12px 28px rgba(198, 207, 231, 0.4);
            }
        }

        .buy {
            border-radius: 12px;
        }

        .buy-right-button {
            font-size: 14px;
            padding: 8px 16px;
        }

        .sanlian {
            margin-top: 24px;
        }

        .nft-details-card {
            padding: 12px 24px;
        }

        .itemBigBox {
            margin-top: 30px;
        }

        .right {
            width: 100%;
        }

        .left {
            width: 100%;
            margin-top: 12px;

            img {
                width: 80%;
            }
        }
    }

    .NFTDetailsPage .contentBox .tabBox .right .buyBox #buy .buy-left .buy-left-bottom {
        margin-top: 8px
    }

}

@media (max-width:500px) {
    .NFTDetailsPage .contentBox .likeProjectBox .contentBoxM .goodsList .usernft {
        width: 50%;
        padding: 5px;
    }
}

@media (max-width:425px) {
    .NFTDetailsPage .contentBox .tabBox .right .buyBox #buy {
        display: block;

        .buy-right .buy-right-button {
            padding: 8px 30px;
            margin-top: 12px;
        }
    }

    .NFTDetailsPage .contentBox .tabBox .right .buy .managePrice .cancelBtn {}

    .NFTDetailsPage .contentBox .tabBox .right .buy {
        padding: 12px;
    }

    .NFTDetailsPage .contentBox .sanlian .sanlian-container .sanlian-content {
        border-radius: 12px;
    }

    #NFTDetails .leftBox img {
        width: 36px;
        height: 36px;
        border-radius: 6px;
    }

    .NFTDetailsPage .contentBox .itemBigBox .contentBox1 .itemBox .item .bottom {
        font-weight: 700;
    }

    #NFTDetails .leftBox {
        flex: 0;
        width: 40px;
    }

    #NFTDetails .nft-details-card {
        padding: 12px 8px;
    }

    .NFTDetailsPage .contentBox .tabBox .right .right-nft-details .right-nft-details-tabcontent .nft-details-describe-group .nft-details-card .nft-details-card-group .nft-details-card-price {
        font-size: 12px;

        .coinName {
            font-size: 12px;
            margin-left: 0px;
        }
    }

}

// .activeBox .itemBigBoxM {
//     background: transparent !important;
//     box-shadow: none !important;

//     .titleBox {
//         background: transparent !important;
//         box-shadow: none !important;
//     }
// }

.contentBoxM {
    padding: 24px 0px !important;
}

// .NFTDetailsPage .contentBox .activeBox .itemBigBox {
//     height: 660px;
//     overflow-y: auto;
// }

@media (max-width:375px) {
    .NFTDetailsPage .contentBox .tabBox .right .right-nft-details .right-nft-details-tabcontent .nft-details-describe-group .nft-details-card .nft-details-card-group .nft-details-card-title {
        font-size: 12px;
    }
}

.Mask {
    position: fixed;
    width: 100%;
    height: 100%;
    background: transparent;
    top: 0;
}