.swiper {
    width: 100%;
    height: 100%;
}

.sliderImg {
    width: 85% !important;
    height: 85% !important;
    // margin: 10px !important;
}

@media (max-width:768px) {
    .swiper {
        width: 250%;
        height: 100%;
    }
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}