.HotspotCard {
    width: 100%;
    background: #FFFFFF;
    box-shadow: 20px 22.2995px 107px rgba(223, 228, 240, 0.4);
    border-radius: 20px;
    box-sizing: border-box;
    // overflow: hidden;
    position: relative;
    top: 0;
    left: 0;

    .imgBox {
        position: relative;
        width: 100%;
        overflow: hidden;
        display: flex;
        align-items: center;
        border-radius: 20px 20px 45px 0px;

        >img {
            width: 100%;
            aspect-ratio: 1;
            object-fit: contain;
            cursor: pointer;
            transition: all 0.6s;

            &:hover {
                transform: scale(1.2);
            }
        }


        .buyBtn {
            position: absolute;
            bottom: 20px;
            right: 50%;
            transform: translateX(50%);
            width: 96px;
            height: 38px;
            background: linear-gradient(90deg, rgba(113, 133, 255, 0.65) 1.56%, #7185FF 26.68%, #9E71FF 77.44%, rgba(158, 113, 255, 0.42) 100%);
            border-radius: 31px;
            animation: riggund 2s 0s 1 ease;
            z-index: 999;
            font-family: 'PingFang SC';
            font-style: normal;
            font-weight: 900;
            font-size: 16px;
            line-height: 22px;
            color: #FFFFFF;

            @keyframes riggund {
                0% {
                    bottom: 0px;
                }

                100% {
                    bottom: 20px;
                }
            }
        }
    }

    .bottonBox {
        padding: 12px 15px 0;
        width: 100%;

        .box {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .cardName {
                font-family: 'PingFang SC';
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 17px;
                /* identical to box height */
                color: rgba(0, 0, 0, 0.6);
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            .Collection {
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    margin-right: 5px;
                }
            }
        }

        .cardTokenId {
            width: 100%;
            font-family: 'PingFang SC';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 22px;
            color: #000000;
            // margin: 5.8px 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }


        .home-nft {
            &:hover {
                display: flex;
                justify-content: start;
                align-items: center;

                .hover-show-card {
                    position: absolute;
                    top: 0;
                    left: 50%;
                    display: block;
                    width: 120%;
                    z-index: 999;
                    transform: translate(-50%, -4%);
                    background: #FFFFFF;
                    box-shadow: 38px 41px 159px rgba(141, 147, 163, 0.4);
                    border-radius: 20.6596px;
                    overflow: hidden;
                    z-index: 999;

                    .hover-show-card-img {
                        width: 100%;
                    }

                    .hover-show-card-content {
                        width: 100%;
                        padding: 0 16px 12px;

                        .hover-show-card-content-top {
                            position: relative;
                            top: 0;
                            left: 0;
                            width: 100%;
                            transform: translateY(-16px);
                            display: flex;
                            justify-content: start;
                            align-items: center;

                            img {
                                border: 4px solid #FFFFFF;
                                filter: drop-shadow(5px 4px 37px rgba(179, 193, 220, 0.4));
                                width: 70px;
                                height: 70px;
                                border-radius: 50%;
                                margin-right: 16px;
                            }

                            .hover-show-card-content-nft-name {
                                width: 100%;
                                font-weight: 700;
                                font-size: 16px;
                                color: #000000;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                        }

                        .hover-show-card-content-bottom {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            text-align: center;

                            .hover-show-card-content-item {
                                flex: 1;
                                padding: 0 4px;

                                .hover-show-card-content-amount {
                                    font-weight: 700;
                                    font-size: 14px;
                                    text-align: center;
                                    color: #000000;
                                }

                                .hover-show-card-content-name {
                                    font-weight: 400;
                                    font-size: 12px;
                                    color: rgba(0, 0, 0, 0.5);
                                }
                            }
                        }
                    }
                }
            }


        }

        .hover-show-card {
            display: none;
        }


    }

    .cardBottomBox {
        height: 42px;
        padding: 4px 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .cardPrice {
            font-family: 'PingFang SC';
            font-style: normal;
            font-weight: 700;
            font-size: 12px;
            line-height: 20px;
            /* identical to box height */
            color: #788CFF;
            display: flex;
            align-items: center;

            img {
                width: 22px;
                height: 22px;
                margin-right: 8px;
            }

            .priceBox {
                display: flex;

                .num {
                    font-family: 'PingFang SC';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 12px;
                    line-height: 20px;
                    color: #788CFF;
                    display: flex;
                    align-items: center;
                }

                span {
                    font-family: 'PingFang SC';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 20px;
                    color: rgba(0, 0, 0, 0.6);
                    margin-left: 5px;
                }
            }
        }

    }

    .menuBox {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 42px;
        width: 100%;
        background: #788CFE;
        border-radius: 0px 0px 20px 20px;

        .right {
            height: 100%;
            width: 70px;
            border-left: 1px solid #FFFFFF;

        }

        .left {
            display: flex;
            justify-content: center;
            flex: 1;
            font-family: 'PingFang SC';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 22px;
            color: #FFFFFF;
        }

    }

    .menuBoxNull {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 42px;
        width: 100%;
        border-radius: 0px 0px 20px 20px;

        .right {
            height: 100%;
            width: 70px;
            border-left: 1px solid #FFFFFF;

        }

        .left {
            display: flex;
            justify-content: center;
            flex: 1;
            font-family: 'PingFang SC';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 22px;
            color: #FFFFFF;
        }

    }


}

@media (max-width:1440px) {
    .HotspotCard {
        width: 100%;
    }
}

@media (max-width:1024px) {}

@media (max-width:768px) {
    .HotspotCard {
        width: 100%;
        margin: auto;
        border-radius: 12px;
        box-shadow: 6px 6px 20px rgba(198, 207, 231, 0.4);

        .menuBox {
            border-radius: 0px 0px 12px 12px;
        }

        .imgBox {
            border-radius: 12px 12px 45px 0px;

            img {
                border-radius: 12px 12px 45px 0px;
            }
        }

        .cardName {
            div {
                font-size: 14px;
            }
        }

        .cardTokenId {
            font-size: 14px;
        }

        .cardPrice {
            font-size: 12px;

            img {
                width: 16px;
            }
        }

        .cardBottom {
            .Collection {
                font-size: 12px;
            }

            .minPrice {
                font-size: 12px;
            }
        }

        .cardBottomBox {
            padding: 4px 10px;
        }

        .bottonBox {
            padding: 0 10px 0;
        }

        .home-nft {
            font-size: 14px;
        }

        .cardPrice {
            font-size: 12px;
            zoom: 0.87;
        }

        .pointer img {
            width: 18px;
            height: 18px;
        }
    }
}

@media (max-width:425px) {
    .HotspotCard .bottonBox .cardTokenId {
        font-size: 14px;
    }

    .HotspotCard .cardBottomBox {
        // height: 30px;
        display: flex;
    }

    .HotspotCard .bottonBox .box {
        padding: 2px;
    }

    .HotspotCard .cardBottomBox .cardPrice .priceBox {
        display: block;
    }
}

@media (max-width:375px) {}


.swiper {
    overflow: inherit !important;
}