.ManageModal {
    .ant-modal-content {
        background: #E0E1FF !important;
        border-radius: 50px !important;

        .ant-modal-body {
            padding: 40px 30px;
        }
    }

    .confirmModalTop {
        position: relative;
        height: 70px;
        display: flex;
        justify-content: space-between;
        margin: 0 15px;

        .title {
            position: absolute;
            right: 50%;
            transform: translateX(50%);
            text-align: center;
            color: #000000;
            font-weight: 500;
            font-size: 22px;
            line-height: 40px;
        }

        >img {
            position: absolute;
            right: 0px;
            width: 40px;
            height: 40px;
        }
    }

    .NFTInfo {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 35px;

        .NFTLeft {
            width: 150px;
            height: 150px;

            img {
                width: 100%;
                height: 100%;
                border-radius: 10px;
            }
        }

        .NFTRight {
            margin-left: 37px;

            .NFTTitle {
                font-family: 'PingFang SC';
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 22px;
                text-align: center;
                letter-spacing: 0.1em;
                color: #000000;
                margin-bottom: 25px;
            }

            .projectTitle {
                font-family: 'PingFang SC';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 22px;
                text-align: center;
                letter-spacing: 0.1em;
                color: rgba(0, 0, 0, 0.6);
            }
        }
    }

    .item {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;

        .title {
            font-family: 'PingFang SC';
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 20px;
            /* identical to box height */
            letter-spacing: 0.1em;
            color: rgba(0, 0, 0, 0.6);
        }

        .value {
            font-family: 'PingFang SC';
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 20px;
            /* identical to box height */
            text-align: right;
            letter-spacing: 0.1em;
            color: #000000;
        }
    }

    .middleBox {
        .priceTitle {
            font-family: 'PingFang SC';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            letter-spacing: 0.1em;
            color: #000000;
            margin-bottom: 15px;
        }

        .dropDownBox {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .left {
                width: 180px;

                .MarketSearchRow {
                    width: 100%;
                    display: flex;
                    justify-content: flex-end;
                    margin: auto;

                    .search {
                        width: 100%;
                        font-family: 'PingFang SC';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 20px;
                        color: #788CFF;
                        height: 54px;
                        border: 1px solid #788CFF;
                        box-sizing: border-box;
                        border-radius: 69px;
                        padding: 6px 15px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        margin-right: 24px;


                        .searchBox {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            font-size: 14px;
                            overflow: hidden;
                            white-space: nowrap;
                            margin-right: 3px;
                            font-family: 'PingFang SC';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 22px;
                            letter-spacing: 0.1em;
                            color: #000000;

                            .coinName {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                width: 60px;
                                font-family: 'PingFang SC';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 16px;
                                line-height: 22px;
                                letter-spacing: 0.1em;
                                color: #000000;
                            }
                        }
                    }

                    .filter {
                        margin-left: 30px;
                        background: linear-gradient(269.72deg, #9C75FF 0.22%, #7485FF 99.76%);
                        border-radius: 18px;
                        width: 120px;
                        height: 36px;
                        padding: 6px 15px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        color: #FFFFFF;
                        font-size: 14px;
                    }
                }
            }

            .right {
                flex: 1;

                input {

                    width: 100%;
                    height: 54px;
                    padding: 0 15px;
                    background: transparent;
                    font-family: 'PingFang SC';
                    font-style: normal;
                    font-size: 16px;
                    line-height: 22px;
                    letter-spacing: 0.1em;
                    color: #000;
                    border: 1px solid rgba(0, 0, 0, 0.2);
                    border-radius: 69px;
                }

                input::-webkit-input-placeholder {
                    font-family: 'PingFang SC';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 22px;
                    letter-spacing: 0.1em;
                    color: rgba(0, 0, 0, 0.8);
                }
            }
        }

    }

    // 取消出售样式
    .saleTip {
        margin: 40px 0px;
        font-family: 'PingFang SC';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0.1em;
        color: #000000;
        text-align: center;
    }

    // 确认购买样式
    .balanceTip {
        font-family: 'PingFang SC';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        /* identical to box height */
        letter-spacing: 0.1em;
        color: #F62222;
        text-align: center;
    }

    .bottomTip {
        margin: 60px 0px 46px;
        font-family: 'PingFang SC';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 17px;
        /* identical to box height */
        letter-spacing: 0.1em;
        color: rgba(0, 0, 0, 0.6);
    }


    .ManageModalFooter {
        margin: 30px 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .enterBtn {
            height: 50px;
            width: 100%;
            background: linear-gradient(90deg, #7385FF 1.21%, #9E73FF 98.99%);
            border-radius: 25px;
            font-family: 'PingFang SC';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            text-align: center;
            letter-spacing: 0.1em;
            color: #FFFFFF;
        }

        .balanceType {
            background: #AEADB2;
        }
    }
}