@font-face {
  font-family: "PingFang SC";
  src: url("./assets/font/PINGFANG.TTF");
}

@font-face {
  font-family: "PingFang SC Bold";
  src: url("./assets/font/PINGFANG BOLD.TTF");
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fff !important;
}

html,
body,
div,
span,
applet,
object,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-weight: normal;
  vertical-align: baseline;
  font-size: 12px;
  user-select: none;
  font-family: PingFang SC;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th,
td {
  vertical-align: middle;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* custom */
a {
  outline: none;
  color: #16418a;
  text-decoration: none;
  -webkit-backface-visibility: hidden;
}

a:focus {
  outline: none;
}

input:focus,
select:focus,
textarea:focus {
  outline: -webkit-focus-ring-color auto 0;
}

.cbtn {
  cursor: pointer;
}

.ant-layout {
  background: transparent !important;
}

.ant-menu-title-content {
  font-size: 20px;
}

.ant-layout-footer {
  background: transparent !important;
}

.layoutMain {
  position: relative
}

.MenuMantle {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  opacity: 0.2;
  z-index: 10;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex1 {
  flex: 1;
}

.fontNwhite {
  white-space: nowrap;
}

.NoData img {
  max-width: 80%;
  margin: 20px 0;
}

.nowrap {
  white-space: nowrap;
}

.ant-table-tbody>tr.ant-table-placeholder:hover>td {
  background-color: transparent !important;
}

.pointer {
  cursor: pointer;
}

input:-webkit-autofill {
  -webkit-animation: autofill-fix 1s infinite !important;
  /* 选择历史记录的文字颜色*/
  -webkit-text-fill-color: #fff;
  -webkit-transition: background-color 50000s ease-in-out 0s !important;
  transition: background-color 50000s ease-in-out 0s !important;
  background-color: transparent !important;
  background-image: none !important;
  /* 选择历史记录的背景颜色 */
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
}

[role=button],
a,
area,
button,
input:not([type=range]),
label,
select,
summary,
textarea {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

input[type=number],
input[type=password],
input[type=text],
textarea {
  -webkit-appearance: none;
}

.searchBox {
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  margin-right: 3px;
}

.TableBox {
  margin: 0 255px;

  .ant-table {
    background: transparent !important;
  }

  .ant-table-thead {

    // .ant-table-tbody > tr.ant-table-row:hover > td, .ant-table-tbody > tr > td.ant-table-cell-row-hover
    tr {
      th {
        font-family: 'PingFang SC';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.1em;
        color: rgba(255, 255, 255, 0.6);
        background: transparent !important;
        border-bottom: none !important;
      }
    }
  }

  .ant-table-tbody {
    tr {

      td.ant-table-cell-row-hover,
      .ant-table-row:hover {
        background: transparent !important;
      }

      td {
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);

      }
    }
  }

  .typeMain {
    color: #fff;
    font-weight: 500;
    font-size: 16px;
  }

  .typeSub {
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
  }

  .goodInfo {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      margin-right: 7px;
      width: 30px;
      height: 30px;
    }

    .protName {
      font-weight: 500;
      font-size: 16px;
      color: #fff;

    }

    .nft {
      color: rgba(255, 255, 255, 0.8);
      font-size: 16px;
      text-align: left;
    }
  }

  .goodPrice {
    .Uprice {
      color: #fff;
      font-weight: 500;
      font-size: 16px;
    }

    .bnbprice {
      color: rgba(255, 255, 255, 0.8);
      font-size: 16px;
    }
  }

  .color33 {
    color: #fff;
    font-weight: 500;
    font-size: 16px;
  }
}

.ant-table-tbody>tr.ant-table-row:hover>td,
.ant-table-tbody>tr>td.ant-table-cell-row-hover {
  background: transparent !important;
}

.ant-switch-checked {
  background: #0EFC7E !important;
}

.ant-select-dropdown {
  border-radius: 10px !important;
  background: #E7E7FF;
}